<ion-header>
    <ion-navbar>
       <ion-title *ngIf="!isSearchbarOpened"> Listado
         <!-- <ion-menu [content]="content">
            <ion-content>
                <ion-list>
                  <ion-item menuClose detail-none>Close Menu</ion-item>
                </ion-list>
              </ion-content>   
            </ion-menu> -->
        </ion-title>
  
        <ion-searchbar *ngIf="isSearchbarOpened" showCancelButton="true" (ionInput)="obtenerPelicula($event)" (ionCancel)="isSearchbarOpened=false" [(ngModel)]="search"></ion-searchbar>
        <ion-buttons end>
          <button ion-button icon-only *ngIf="!isSearchbarOpened" (click)="isSearchbarOpened=true">
              <ion-icon name="search"></ion-icon>
          </button>
        </ion-buttons>
     </ion-navbar>
     <!-- <ion-nav #mainContent [root]="listadoPage"></ion-nav> -->
</ion-header>

<ion-content>
    <ion-card *ngFor="let pelicula of arrayPeliculas">
        <ion-card-header> 
        {{pelicula.Title}}  
        </ion-card-header>
        <ion-card-content >
          <img [src]="pelicula.Poster" style="width: 50%" alt="" (click)="verDescripcion(pelicula);">
          <p> {{pelicula.Year}} </p>
          <button ion-button (click)="agregarFavoritos(pelicula);">
            Agregar a Favoritos
          </button>
        </ion-card-content>
      </ion-card>
      

</ion-content>
